/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@white: #ffffff;
@blue: #06B2D6;
@aqua: #008B8B;
@greenl: #09A706;
@greenb: #067100;
@yellow: #F0A100;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme layouts
 -------------------------------------------------------------- */
@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* THE HEADER */
.the-header {
    padding: 10px 0;
    width: 100%;
    z-index: 999;
    background: @white;

    & .navbar-default {
        background: none transparent;
        border: 0;
        box-shadow: none;

        & .navbar-nav {
            padding-top: 10px;
            text-transform: uppercase;
            font-weight: 500;

            & li {
                & a { padding: 15px 25px !important; }
            }
        }
    }
}

.img-flags {
    width: 35px;
    margin-top: -10px;
}

.img-brands {
    height: 60px;
    margin-top: -10px;
}

/* THE FOOTER */
.the-footer { background: @aqua; }

.partner-item { margin: 0 20px; }

.owl-theme .owl-controls {
    margin-top: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.owl-buttons {
    position: relative;
    width: 100%;
}

.owl-prev {
    position: absolute;
    left: -50px;
}

.owl-next {
    position: absolute;
    right: -50px;
}

.main-home-container { min-height: 60vh; }

.section-title {
    background: @aqua;
    color: @white;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-home-news-container {
    position: relative;
    margin-bottom: 20px;
}

.main-home-news-title {
    position: absolute;
    bottom: 0;
    background: black;
    padding: 5px;

    & a { color: #FFF; }

    & h2 {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        color: #FFF;
    }
}

.main-home-extra-info {
    & img {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* PAGE */
.page-article {
    font-size: 22px;
    line-height: 35px;
}

/* TEAM */
.team-item {
    font-size: 17px;
    line-height: 30px;
}

.team-item-title {
    color: #FFF;
    padding: 0 10px;
    background: @aqua;
    margin-bottom: 10px;

    & h2 {
        font-size: 20px;
        margin: 0;
        margin-top: 5px;
    }

    & .fa { margin-left: 8px; }

    & a { color: #FFF; }
}

/* SERVICES */
.home-services-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.main-home-services-item {
    background: red;
    padding: 5px;

    & h2 {
        margin: 0;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        color: #FFF;
    }

    &:hover { background: #00a6da; }
}

.main-home-services-item-1, .main-home-services-item-2 { background: #008B8E; }

.main-home-services-item-3, .main-home-services-item-4 { background: #E49F00; }

.main-home-services-item-5, .main-home-services-item-6 { background: #007B32; }

.service-big-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.service-info-container {
    background: rgba(0, 139, 142, 0.89);
    margin-top: 75px;
    min-height: 30vh;
    padding: 10px 20px;
    max-height: 85vh;
    color: #FFF;
    text-align: center;
    overflow: auto;

    & img {
        display: inline-block;
        max-width: 200px;
        height: auto;
    }
}

.close-custom-modal {
    font-size: 20px;
    color: #FFF;
    font-weight: 900;
    border-radius: 100%;
    position: absolute;
    padding: 0px 7px;
    margin: 15px;
    line-height: 23px;
    margin-right: 0;
    cursor: pointer;
    top: 0;
    right: 15px;
}

.service-big-shown {
    opacity: 1;
    z-index: 1000;
}

.service-big-hidden {
    opacity: 0;
    z-index: -5;
}

/* CONTACT PAGE */
.contact-item {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 30px;

    & h2 {
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    & .wpcf7-form-control {
        width: 100%;
        padding: 2px 5px;
        font-size: 15px;
        font-weight: 300;
        border: 1px solid #d0d0d0;
    }

    & .wpcf7-submit {
        width: auto;
        float: right;
        background: #007e84;
        color: #FFF;
        font-weight: 600;
        padding: 5px 15px;
        font-size: 20px;
    }
}

.the-map-section { margin-top: 50px; }

/* WOOCOMMERCE HACK */
.summary-custom {
    float: none !important;
    width: 100% !important;
    text-align: center;

    & .section-title { text-align: left !important; }

    & .quantity { display: none; }

    & .single_add_to_cart_button {
        display: inline-block;
        float: none !important;
        background: darkcyan !important;
        font-size: 20px !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        border-radius: 0 !important;
    }
}

.page-article {
    & .woocommerce {
        font-size: 18px;
        line-height: 35px;
    }
}
